.logo-text {
  display: block;
  font-family: "ScalaOT", serif;
  font-size: 0.75rem;
  font-weight: 500;
  color: #376282;
  text-align: left;
  text-transform: uppercase;
  margin: 0 20px 0 10px;
  line-height: 100%;
}

.logo-text:hover {
  text-decoration: none;
}
