:root {
  --sys-primary: #8a1009;
}

/* --- Brief Display styles --- */

/* remove padding for empty label */
span.margin-right-small:empty {
	margin-inline-end: unset;
}

/* align label line-height with content */
p.record-main-details-font-size span.light-text.margin-right-small {
	line-height: 1.25rem;
}

/* add space after delimiter */
span.flex-row.ng-star-inserted {
  margin-inline-end: .25rem;
}

/* fix gap spacing for availability buttons */
/* 1. Make the wrapper transparent to the Flexbox layout */
.responsive-availability-layout > ng-component {
  display: contents;
}

/* 2. Hide the inner custom component if it is completely empty */
.responsive-availability-layout > ng-component > *:empty {
  display: none;
}

/* Capitalize local display field facets */
nde-filters-group#lds01 span.mdc-button__label {
    text-transform: uppercase;
}

nde-filters-group#lds45 span.mdc-button__label {
    text-transform: capitalize;
}


/* --- Full Record display styles --- */

/* hide item-level request note by default -- changes by customization if item-level request is available */
div#item-level-request-msg {
  display: none;
}

/* Align item metadata with item request button */

.grid-header .getit-items-brief-property span {
	line-height: 2.5 !important;
}


/* --- Homepage styles --- */

/* do not add color overlay to homepage image */
.custom-search-bar-container .background-overlay {
  display: none;
}

/* improve h2 definition against background image */
.custom-search-bar-container h2 {
  text-shadow: 2px 2px 2px #313131; 
}


/* --- Colors --- */

/* fill color for menu containers */
/*
:root .nde-overrides {
  --mat-sys-surface-container-low: var(--lightBG);
  --mdc-elevated-card-container-color: var(--lightBG);
  --sys-inverse-on-surface: var(--lightBG);
}
  */