<div class="display-flex flex-column">
  <a
    href="https://browzine.com/libraries/431/subjects"
    target="_blank"
    rel="noopener noreferrer"
    mat-button
    color="primary"
    class="browzine-button mat-body-medium mdc-button mat-mdc-button mat-primary mat-mdc-button-base cdk-focused cdk-mouse-focused"
    mat-ripple-loader-class-name="mat-mdc-button-ripple"
    style="--mdc-icon-button-icon-size: 1rem"
    ><span class="mat-mdc-button-persistent-ripple mdc-button__ripple"></span
    ><span class="mdc-button__label"
      ><span class="mdc-button__label"
        >Explore Journals at BrowZine
      </span></span
    ><mat-icon
      role="presentation"
      class="mat-icon notranslate nde-mat-icon-size mat-icon-no-color ng-star-inserted"
      aria-hidden="true"
      data-mat-icon-type="svg"
      data-mat-icon-name="Open-in-a-new-window"
      ><svg
        height="100%"
        viewBox="0 -960 960 960"
        width="100%"
        fit=""
        preserveAspectRatio="xMidYMid meet"
        focusable="false"
      >
        <path
          d="m256-240-56-56 384-384H240v-80h480v480h-80v-344L256-240Z"
        ></path></svg></mat-icon
    ><span class="mat-mdc-focus-indicator"></span
    ><span class="mat-mdc-button-touch-target"></span
    ><span class="mat-ripple mat-mdc-button-ripple"></span
  ></a>
</div>
