@if (isEligible()) {
  <div class="ng-star-inserted" style="padding-top: 1em">
    <mat-card
      class="mat-mdc-card mdc-card mat-mdc-card-outlined mdc-card--outlined personal-details-card"
    >
      <div class="header-container">
        <mat-card-header class="mat-mdc-card-header">
          <div class="mat-mdc-card-header-text">
            <mat-card-title
              class="mat-mdc-card-title margin-bottom-big mat-title-medium"
              >Proxy borrower
            </mat-card-title>
          </div>
        </mat-card-header>
      </div>
      <mat-card-content class="mat-mdc-card-content">
        <div class="flex-column flex-layout-start-start">
          <p class="margin-bottom-small">
            Allow another person to borrow materials on your behalf.
            <em>(Faculty, staff, and accommodation eligible students only.)</em>
          </p>
          <p class="margin-bottom-small">
            <a
              href="https://arc.bc.edu/form/proxy-request"
              target="_blank"
              rel="noopener noreferrer"
              >Add a proxy borrower</a
            >
          </p>
        </div>
      </mat-card-content></mat-card
    >
  </div>
}